body{
    background-color: #edeef7;
}


.container .user-container{
    border: 0;
    border-radius: 5px;
    margin-left: -100px;
    padding: 10px;
    margin-top: 15px;
    max-width: 180px;
    color: #0d47a1;
    position: absolute;
}


